body {
  background-color: burlywood;
  text-align: center;
}
h1 {
  color: black;
  text-align: center;
  margin: 20px;
}
a {
  text-align: center;
  margin: 20px;
  color: green;
}
img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
.email {
  margin: 0;
  color: black;
}
